
.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1180px;

}

.header {
  display: flex;
  max-width: 1180px;
  margin-top: 5%;
  margin-bottom: 10%;
  justify-content: space-evenly;
}

.main {
  align-self: center;

}

.footer {
  margin-top: auto;
}




